input {
    border: 1px solid darkgrey;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

input.ng-valid.ng-touched {
    border: 2px solid green;
}

.selectng-valid.ng-touched {
    border: 2px solid green;
}